aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
audioread
certifi
cffi
charset-normalizer
datasets
decorator
dill
filelock
frozenlist
fsspec
huggingface-hub
idna
joblib
lazy_loader
librosa
llvmlite
msgpack
multidict
multiprocess
numba
numpy
packaging
pandas
platformdirs
pooch
propcache
pyarrow
pycparser
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
six
soundfile
soxr
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
xxhash
yarl
